My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "from:jobalerts-noreply@linkedin.com \"Nuevos empleos coinciden con tu alerta\" is:unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        80
      ],
      "id": "17ae5dba-2c67-4eab-9592-c62eb7fc8959",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "JpUyBbkBfKqInJKI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyALIOdoNYh1S-Hl1ZaNn1FNnkjcv5g1Q6A",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"Content-Type\": \"application/json\"}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        80
      ],
      "id": "f9dc1b2e-02e8-42b1-b6a0-cfa0c3f4ef01",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 3
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        80
      ],
      "id": "6698c388-0709-42bf-a6e5-6a3cb6aa103e",
      "name": "Get a message",
      "webhookId": "c04711f6-4341-4a67-bff8-1e8a8936857c",
      "credentials": {
        "gmailOAuth2": {
          "id": "JpUyBbkBfKqInJKI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la respuesta de Gemini desde el nodo HTTP Request\nconst response = $input.first().json;\n\n// Extraer el texto de la respuesta (puede venir en diferentes formatos)\nlet text = '';\ntry {\n  text = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n} catch (e) {\n  text = '';\n}\n\n// Si no hay texto, intentar con otras estructuras (por si la API cambia)\nif (!text && response.choices?.[0]?.message?.content) {\n  text = response.choices[0].message.content; // Formato alternativo\n}\n\n// Limpiar el texto: eliminar markdown, espacios, etc.\nlet cleanText = text.trim();\n\n// Si la respuesta viene envuelta en triple backticks json ... ```, extraer solo el JSON\nconst jsonMatch = cleanText.match(/```json\\s*([\\s\\S]*?)\\s*```/);\nif (jsonMatch) {\n  cleanText = jsonMatch[1];\n} else {\n  // Si no tiene triple backticks, buscar un objeto JSON directamente\n  const objMatch = cleanText.match(/\\{[\\s\\S]*\\}/);\n  if (objMatch) {\n    cleanText = objMatch[0];\n  }\n}\n\n// Intentar parsear el JSON\nlet ofertas = { ofertas: [] };\ntry {\n  const parsed = JSON.parse(cleanText);\n  // Asegurar que tenga la propiedad \"ofertas\"\n  if (parsed.ofertas && Array.isArray(parsed.ofertas)) {\n    ofertas = parsed;\n  } else if (Array.isArray(parsed)) {\n    // Si devolvió directamente un array\n    ofertas = { ofertas: parsed };\n  } else if (parsed.titulo) {\n    // Si devolvió una sola oferta (no array)\n    ofertas = { ofertas: [parsed] };\n  }\n} catch (e) {\n  console.error('Error parsing JSON:', e.message);\n  // Si falla, devolver array vacío\n  ofertas = { ofertas: [] };\n}\n\n// Asegurar que cada oferta tenga todos los campos necesarios (para evitar errores posteriores)\nconst camposRequeridos = ['titulo', 'empresa', 'ubicacion', 'requisitos_tecnicos', 'anos_experiencia', 'responsabilidades', 'herramientas', 'url_oferta', 'resumen'];\nofertas.ofertas = ofertas.ofertas.map(oferta => {\n  const completa = { ...oferta };\n  for (const campo of camposRequeridos) {\n    if (completa[campo] === undefined) {\n      completa[campo] = (campo === 'requisitos_tecnicos' || campo === 'responsabilidades' || campo === 'herramientas') ? [] : null;\n    }\n  }\n  return completa;\n});\n\n// Devolver solo el objeto con el array de ofertas\nreturn ofertas;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        80
      ],
      "id": "71329e4b-3b42-45c3-8c02-5f1b9bc2029d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Ofr8R2QGd0VE4F2NA8Wi_RVjSBOzEbM-",
          "mode": "list",
          "cachedResultName": "Perfil_Maestro_Fausto_FINAL.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Ofr8R2QGd0VE4F2NA8Wi_RVjSBOzEbM-/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        544,
        352
      ],
      "id": "794fd932-da96-42a6-a3ed-fa98aa35bbf4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QxD7bFkaBtph9eHW",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        736,
        352
      ],
      "id": "ae647c14-c0e9-4d69-9939-3647ea69a65d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        192
      ],
      "id": "ac1d23d4-70b5-42d8-bad6-ef3a503791cd",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const ofertas = $json.ofertas;\nif (!ofertas || ofertas.length === 0) {\n  return { cv: null, mensaje: \"No hay ofertas para generar CV\" };\n}\nconst mejor = ofertas[0];\n\nconst cv = `# CV Personalizado para ${mejor.titulo} en ${mejor.empresa}\n\n## Resumen Profesional\nIngeniero Industrial con más de 10 años en optimización de procesos y reducción de costos. Actualmente aplico Ciencia de Datos, Machine Learning y Agentes IA para decisiones estratégicas con ROI medible. Proyecto destacado: sistema de predicción de churn con ROI 8.10x, recall 96.52% y validación Monte Carlo. Certificado en Oracle Cloud (OCI) y Agentes IA (LangGraph, n8n).\n\n## Compatibilidad con el puesto\n- **Puntaje:** ${mejor.puntaje}%\n- **Coincidencias detectadas:** ${(mejor.coincidencias || []).join(', ') || 'ninguna'}\n- **Habilidades a reforzar:** ${(mejor.faltantes || []).join(', ') || 'ninguna'}\n\n## Experiencia relevante\n- **ChurnInsight v3.0** (ROI 8.10x, recall 96.52%): Modelo predictivo para retención de clientes.\n- **Agentes IA con n8n y LangGraph**: Automatización de flujos RAG y envío de cotizaciones.\n- **Oracle Cloud Infrastructure (OCI) Certified**: Despliegue de modelos en la nube.\n\n## Habilidades técnicas clave para el puesto\n${(mejor.requisitos_tecnicos || []).map(r => `- ${r}`).join('\\n')}\n\n---\n*CV generado automáticamente por tu headhunter personal.*\n*Contacto: fsotoeu@gmail.com*`;\n\nreturn { cv, mejorOferta: mejor };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        192
      ],
      "id": "49f09524-4f61-4f8b-8ba3-771a9a243e0d",
      "name": "Generar CV"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Extraer remitente\nlet fromString = '';\nif (typeof item.from === 'string') {\n  fromString = item.from;\n} else if (item.from?.text) {\n  fromString = item.from.text;\n} else if (item.from?.value?.[0]) {\n  const v = item.from.value[0];\n  fromString = `${v.name || ''} <${v.address || ''}>`;\n} else {\n  fromString = JSON.stringify(item.from);\n}\n\nconst subject = item.subject || '';\nlet fullText = item.text || '';\n\n// Recortar a 2000 caracteres (para que la entrada sea más pequeña)\nconst maxChars = 2000;\nlet bodyText = fullText.length > maxChars ? fullText.substring(0, maxChars) : fullText;\nbodyText = bodyText.replace(/-{5,}/g, '').replace(/\\n{3,}/g, '\\n\\n');\n\nconst prompt = `Eres un asistente de reclutamiento. Extrae del siguiente correo TODAS las ofertas de trabajo (máximo 5). Devuelve SOLO un JSON: {\"ofertas\":[{\"titulo\":\"\",\"empresa\":\"\",\"ubicacion\":\"\",\"requisitos_tecnicos\":[],\"anos_experiencia\":null,\"responsabilidades\":[],\"herramientas\":[],\"url_oferta\":null,\"resumen\":\"\"}]}. Si no hay ofertas, {\"ofertas\":[]}.\n\nCorreo:\nDe: ${fromString}\nAsunto: ${subject}\nCuerpo: ${bodyText}`;\n\nconst requestBody = {\n  contents: [{ parts: [{ text: prompt }] }],\n  generationConfig: { temperature: 0, maxOutputTokens: 4000 } // aumentado\n};\n\nreturn { body: JSON.stringify(requestBody) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        80
      ],
      "id": "68958718-58cf-4f00-a687-2d246f5f21ba",
      "name": "Extraer Texto"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ofertas = items[0]?.json?.ofertas || [];\nconst perfil = items[1]?.json?.text || '';\n\nconst skillsDeseadas = [\n  'python', 'sql', 'machine learning', 'data science', 'etl',\n  'pandas', 'scikit-learn', 'catboost', 'oracle', 'oci',\n  'power bi', 'tableau', 'n8n', 'langgraph', 'rag', 'gemini',\n  'agentes ia', 'automatización', 'churn', 'roi', 'predictivo'\n];\n\nfunction calcular(oferta, perfilTexto) {\n  let puntaje = 0, coincidencias = [], faltantes = [];\n  const ofertaTexto = (oferta.titulo + ' ' + oferta.empresa + ' ' +\n                       (oferta.requisitos_tecnicos || []).join(' ') + ' ' +\n                       (oferta.responsabilidades || []).join(' ')).toLowerCase();\n  const perfilLower = perfilTexto.toLowerCase();\n  for (const skill of skillsDeseadas) {\n    if (ofertaTexto.includes(skill)) {\n      if (perfilLower.includes(skill)) {\n        puntaje += 15;\n        coincidencias.push(skill);\n      } else {\n        puntaje -= 5;\n        faltantes.push(skill);\n      }\n    }\n  }\n  puntaje = Math.min(100, Math.max(0, 50 + puntaje));\n  return { puntaje, coincidencias, faltantes };\n}\n\nconst ofertasConCompatibilidad = ofertas.map(o => ({ ...o, ...calcular(o, perfil) }));\nofertasConCompatibilidad.sort((a, b) => b.puntaje - a.puntaje);\nreturn { ofertas: ofertasConCompatibilidad };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        192
      ],
      "id": "fba47e2b-8cc0-42b8-a3a7-fecf8b3b190a",
      "name": "Calcular Compatibilidad"
    },
    {
      "parameters": {
        "sendTo": "euraque2022@gmail.com",
        "subject": "=CV adaptado para {{$json.mejorOferta.titulo}} en {{$json.mejorOferta.empresa}}",
        "emailType": "text",
        "message": "={{$json.cv}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1648,
        192
      ],
      "id": "72a7a958-4b93-40f5-aa8c-61d0fe86712e",
      "name": "Send a message1",
      "webhookId": "7fc506ac-8db9-43fc-a839-15234e8a702b",
      "credentials": {
        "gmailOAuth2": {
          "id": "JpUyBbkBfKqInJKI",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extraer Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calcular Compatibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Compatibilidad": {
      "main": [
        [
          {
            "node": "Generar CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar CV": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "86b17f6c-32a8-49ec-9080-0a71630a14d9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48b95c604a8d4e7b7babcf4b75f89348af933bc33b9909c435188418132c90d2"
  },
  "id": "XK6TjMjvHURcHxQB",
  "tags": []
}